Frontend-C#/MGBeautySpaWebAplication/SoftInvBusiness/Connected Services/SoftInvWSCalendario/Calendario.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://softinvws.services.softinv.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Calendario" targetNamespace="http://softinvws.services.softinv.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://192.168.1.37:8080/SoftInvWS/Calendario?xsd=1" namespace="http://softinvws.services.softinv.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="InsertarCalendarioPorPartes">
    <part name="parameters" element="tns:InsertarCalendarioPorPartes" />
  </message>
  <message name="InsertarCalendarioPorPartesResponse">
    <part name="parameters" element="tns:InsertarCalendarioPorPartesResponse" />
  </message>
  <message name="ModificarCalendarioPorPartes">
    <part name="parameters" element="tns:ModificarCalendarioPorPartes" />
  </message>
  <message name="ModificarCalendarioPorPartesResponse">
    <part name="parameters" element="tns:ModificarCalendarioPorPartesResponse" />
  </message>
  <message name="EliminarCalendario">
    <part name="parameters" element="tns:EliminarCalendario" />
  </message>
  <message name="EliminarCalendarioResponse">
    <part name="parameters" element="tns:EliminarCalendarioResponse" />
  </message>
  <message name="InsertarCalendario">
    <part name="parameters" element="tns:InsertarCalendario" />
  </message>
  <message name="InsertarCalendarioResponse">
    <part name="parameters" element="tns:InsertarCalendarioResponse" />
  </message>
  <message name="ModificarCalendario">
    <part name="parameters" element="tns:ModificarCalendario" />
  </message>
  <message name="ModificarCalendarioResponse">
    <part name="parameters" element="tns:ModificarCalendarioResponse" />
  </message>
  <message name="ListarCalendarioDeEmpleado">
    <part name="parameters" element="tns:ListarCalendarioDeEmpleado" />
  </message>
  <message name="ListarCalendarioDeEmpleadoResponse">
    <part name="parameters" element="tns:ListarCalendarioDeEmpleadoResponse" />
  </message>
  <portType name="Calendario">
    <operation name="InsertarCalendarioPorPartes">
      <input wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Calendario/InsertarCalendarioPorPartesRequest" message="tns:InsertarCalendarioPorPartes" />
      <output wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Calendario/InsertarCalendarioPorPartesResponse" message="tns:InsertarCalendarioPorPartesResponse" />
    </operation>
    <operation name="ModificarCalendarioPorPartes">
      <input wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Calendario/ModificarCalendarioPorPartesRequest" message="tns:ModificarCalendarioPorPartes" />
      <output wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Calendario/ModificarCalendarioPorPartesResponse" message="tns:ModificarCalendarioPorPartesResponse" />
    </operation>
    <operation name="EliminarCalendario">
      <input wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Calendario/EliminarCalendarioRequest" message="tns:EliminarCalendario" />
      <output wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Calendario/EliminarCalendarioResponse" message="tns:EliminarCalendarioResponse" />
    </operation>
    <operation name="InsertarCalendario">
      <input wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Calendario/InsertarCalendarioRequest" message="tns:InsertarCalendario" />
      <output wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Calendario/InsertarCalendarioResponse" message="tns:InsertarCalendarioResponse" />
    </operation>
    <operation name="ModificarCalendario">
      <input wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Calendario/ModificarCalendarioRequest" message="tns:ModificarCalendario" />
      <output wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Calendario/ModificarCalendarioResponse" message="tns:ModificarCalendarioResponse" />
    </operation>
    <operation name="ListarCalendarioDeEmpleado">
      <input wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Calendario/ListarCalendarioDeEmpleadoRequest" message="tns:ListarCalendarioDeEmpleado" />
      <output wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Calendario/ListarCalendarioDeEmpleadoResponse" message="tns:ListarCalendarioDeEmpleadoResponse" />
    </operation>
  </portType>
  <binding name="CalendarioPortBinding" type="tns:Calendario">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="InsertarCalendarioPorPartes">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ModificarCalendarioPorPartes">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="EliminarCalendario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="InsertarCalendario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ModificarCalendario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListarCalendarioDeEmpleado">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Calendario">
    <port name="CalendarioPort" binding="tns:CalendarioPortBinding">
      <soap:address location="http://192.168.1.37:8080/SoftInvWS/Calendario" />
    </port>
  </service>
</definitions>