Frontend-C#/MGBeautySpaWebAplication/SoftInvBusiness/Connected Services/SoftInvWSCalendario/Calendario1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://softinvws.services.softinv.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Calendario" targetNamespace="http://softinvws.services.softinv.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftInvWS/Calendario?xsd=1" namespace="http://softinvws.services.softinv.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="ListarCalendarioDeEmpleado">
    <part name="parameters" element="tns:ListarCalendarioDeEmpleado" />
  </message>
  <message name="ListarCalendarioDeEmpleadoResponse">
    <part name="parameters" element="tns:ListarCalendarioDeEmpleadoResponse" />
  </message>
  <message name="insertar30DiasCalendario">
    <part name="parameters" element="tns:insertar30DiasCalendario" />
  </message>
  <message name="insertar30DiasCalendarioResponse">
    <part name="parameters" element="tns:insertar30DiasCalendarioResponse" />
  </message>
  <message name="eliminar30DiasCalendario">
    <part name="parameters" element="tns:eliminar30DiasCalendario" />
  </message>
  <message name="eliminar30DiasCalendarioResponse">
    <part name="parameters" element="tns:eliminar30DiasCalendarioResponse" />
  </message>
  <message name="CalcularBloquesDisponibles">
    <part name="parameters" element="tns:CalcularBloquesDisponibles" />
  </message>
  <message name="CalcularBloquesDisponiblesResponse">
    <part name="parameters" element="tns:CalcularBloquesDisponiblesResponse" />
  </message>
  <message name="ReservarBloqueYCita">
    <part name="parameters" element="tns:ReservarBloqueYCita" />
  </message>
  <message name="ReservarBloqueYCitaResponse">
    <part name="parameters" element="tns:ReservarBloqueYCitaResponse" />
  </message>
  <message name="ModificarCalendario">
    <part name="parameters" element="tns:ModificarCalendario" />
  </message>
  <message name="ModificarCalendarioResponse">
    <part name="parameters" element="tns:ModificarCalendarioResponse" />
  </message>
  <message name="InsertarCalendario">
    <part name="parameters" element="tns:InsertarCalendario" />
  </message>
  <message name="InsertarCalendarioResponse">
    <part name="parameters" element="tns:InsertarCalendarioResponse" />
  </message>
  <message name="EliminarCalendario">
    <part name="parameters" element="tns:EliminarCalendario" />
  </message>
  <message name="EliminarCalendarioResponse">
    <part name="parameters" element="tns:EliminarCalendarioResponse" />
  </message>
  <portType name="Calendario">
    <operation name="ListarCalendarioDeEmpleado">
      <input wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Calendario/ListarCalendarioDeEmpleadoRequest" message="tns:ListarCalendarioDeEmpleado" />
      <output wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Calendario/ListarCalendarioDeEmpleadoResponse" message="tns:ListarCalendarioDeEmpleadoResponse" />
    </operation>
    <operation name="insertar30DiasCalendario">
      <input wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Calendario/insertar30DiasCalendarioRequest" message="tns:insertar30DiasCalendario" />
      <output wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Calendario/insertar30DiasCalendarioResponse" message="tns:insertar30DiasCalendarioResponse" />
    </operation>
    <operation name="eliminar30DiasCalendario">
      <input wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Calendario/eliminar30DiasCalendarioRequest" message="tns:eliminar30DiasCalendario" />
      <output wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Calendario/eliminar30DiasCalendarioResponse" message="tns:eliminar30DiasCalendarioResponse" />
    </operation>
    <operation name="CalcularBloquesDisponibles">
      <input wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Calendario/CalcularBloquesDisponiblesRequest" message="tns:CalcularBloquesDisponibles" />
      <output wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Calendario/CalcularBloquesDisponiblesResponse" message="tns:CalcularBloquesDisponiblesResponse" />
    </operation>
    <operation name="ReservarBloqueYCita">
      <input wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Calendario/ReservarBloqueYCitaRequest" message="tns:ReservarBloqueYCita" />
      <output wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Calendario/ReservarBloqueYCitaResponse" message="tns:ReservarBloqueYCitaResponse" />
    </operation>
    <operation name="ModificarCalendario">
      <input wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Calendario/ModificarCalendarioRequest" message="tns:ModificarCalendario" />
      <output wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Calendario/ModificarCalendarioResponse" message="tns:ModificarCalendarioResponse" />
    </operation>
    <operation name="InsertarCalendario">
      <input wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Calendario/InsertarCalendarioRequest" message="tns:InsertarCalendario" />
      <output wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Calendario/InsertarCalendarioResponse" message="tns:InsertarCalendarioResponse" />
    </operation>
    <operation name="EliminarCalendario">
      <input wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Calendario/EliminarCalendarioRequest" message="tns:EliminarCalendario" />
      <output wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Calendario/EliminarCalendarioResponse" message="tns:EliminarCalendarioResponse" />
    </operation>
  </portType>
  <binding name="CalendarioPortBinding" type="tns:Calendario">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="ListarCalendarioDeEmpleado">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertar30DiasCalendario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminar30DiasCalendario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CalcularBloquesDisponibles">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ReservarBloqueYCita">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ModificarCalendario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="InsertarCalendario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="EliminarCalendario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Calendario">
    <port name="CalendarioPort" binding="tns:CalendarioPortBinding">
      <soap:address location="http://localhost:8080/SoftInvWS/Calendario" />
    </port>
  </service>
</definitions>