Frontend-C#/MGBeautySpaWebAplication/SoftInvBusiness/Connected Services/SoftInvWSCliente/Cliente1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://softinvws.services.softinv.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Cliente" targetNamespace="http://softinvws.services.softinv.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftInvWS/Cliente?xsd=1" namespace="http://softinvws.services.softinv.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="modificarDatosCliente">
    <part name="parameters" element="tns:modificarDatosCliente" />
  </message>
  <message name="modificarDatosClienteResponse">
    <part name="parameters" element="tns:modificarDatosClienteResponse" />
  </message>
  <message name="crearCliente">
    <part name="parameters" element="tns:crearCliente" />
  </message>
  <message name="crearClienteResponse">
    <part name="parameters" element="tns:crearClienteResponse" />
  </message>
  <message name="eliminarCuenta">
    <part name="parameters" element="tns:eliminarCuenta" />
  </message>
  <message name="eliminarCuentaResponse">
    <part name="parameters" element="tns:eliminarCuentaResponse" />
  </message>
  <portType name="Cliente">
    <operation name="modificarDatosCliente">
      <input wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Cliente/modificarDatosClienteRequest" message="tns:modificarDatosCliente" />
      <output wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Cliente/modificarDatosClienteResponse" message="tns:modificarDatosClienteResponse" />
    </operation>
    <operation name="crearCliente">
      <input wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Cliente/crearClienteRequest" message="tns:crearCliente" />
      <output wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Cliente/crearClienteResponse" message="tns:crearClienteResponse" />
    </operation>
    <operation name="eliminarCuenta">
      <input wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Cliente/eliminarCuentaRequest" message="tns:eliminarCuenta" />
      <output wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Cliente/eliminarCuentaResponse" message="tns:eliminarCuentaResponse" />
    </operation>
  </portType>
  <binding name="ClientePortBinding" type="tns:Cliente">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="modificarDatosCliente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="crearCliente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarCuenta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Cliente">
    <port name="ClientePort" binding="tns:ClientePortBinding">
      <soap:address location="http://localhost:8080/SoftInvWS/Cliente" />
    </port>
  </service>
</definitions>