Frontend-C#/MGBeautySpaWebAplication/SoftInvBusiness/Connected Services/SoftInvWSCliente/Cliente1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://softinvws.services.softinv.pucp.edu.pe/" targetNamespace="http://softinvws.services.softinv.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="crearCliente" type="tns:crearCliente" />
  <xs:element name="crearClienteResponse" type="tns:crearClienteResponse" />
  <xs:element name="eliminarCuenta" type="tns:eliminarCuenta" />
  <xs:element name="eliminarCuentaResponse" type="tns:eliminarCuentaResponse" />
  <xs:element name="modificarDatosCliente" type="tns:modificarDatosCliente" />
  <xs:element name="modificarDatosClienteResponse" type="tns:modificarDatosClienteResponse" />
  <xs:complexType name="modificarDatosCliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cliente" type="tns:clienteDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="clienteDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuarioDTO">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="usuarioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="celular" type="xs:string" />
      <xs:element minOccurs="0" name="contrasenha" type="xs:string" />
      <xs:element minOccurs="0" name="correoElectronico" type="xs:string" />
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="primerapellido" type="xs:string" />
      <xs:element minOccurs="0" name="rol" type="xs:int" />
      <xs:element minOccurs="0" name="segundoapellido" type="xs:string" />
      <xs:element minOccurs="0" name="urlFotoPerfil" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarDatosClienteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="crearCliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cliente" type="tns:clienteDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="crearClienteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarCuenta">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:clienteDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarCuentaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>