Frontend-C#/MGBeautySpaWebAplication/SoftInvBusiness/Connected Services/SoftInvWSEmpleado/Empleado1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://softinvws.services.softinv.pucp.edu.pe/" targetNamespace="http://softinvws.services.softinv.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AgregarServicioAEmpleado" type="tns:AgregarServicioAEmpleado" />
  <xs:element name="AgregarServicioAEmpleadoResponse" type="tns:AgregarServicioAEmpleadoResponse" />
  <xs:element name="EliminarEmpleado" type="tns:EliminarEmpleado" />
  <xs:element name="EliminarEmpleadoResponse" type="tns:EliminarEmpleadoResponse" />
  <xs:element name="InsertarEmpleado" type="tns:InsertarEmpleado" />
  <xs:element name="InsertarEmpleadoPorPartes" type="tns:InsertarEmpleadoPorPartes" />
  <xs:element name="InsertarEmpleadoPorPartesResponse" type="tns:InsertarEmpleadoPorPartesResponse" />
  <xs:element name="InsertarEmpleadoResponse" type="tns:InsertarEmpleadoResponse" />
  <xs:element name="ListarCitasDeEmpleado" type="tns:ListarCitasDeEmpleado" />
  <xs:element name="ListarCitasDeEmpleadoResponse" type="tns:ListarCitasDeEmpleadoResponse" />
  <xs:element name="ListarServiciosDeEmpleado" type="tns:ListarServiciosDeEmpleado" />
  <xs:element name="ListarServiciosDeEmpleadoResponse" type="tns:ListarServiciosDeEmpleadoResponse" />
  <xs:element name="ListarTodosEmpleados" type="tns:ListarTodosEmpleados" />
  <xs:element name="ListarTodosEmpleadosResponse" type="tns:ListarTodosEmpleadosResponse" />
  <xs:element name="ModificarEmpleado" type="tns:ModificarEmpleado" />
  <xs:element name="ModificarEmpleadoResponse" type="tns:ModificarEmpleadoResponse" />
  <xs:element name="ObtenerEmpleadoPorId" type="tns:ObtenerEmpleadoPorId" />
  <xs:element name="ObtenerEmpleadoPorIdResponse" type="tns:ObtenerEmpleadoPorIdResponse" />
  <xs:complexType name="InsertarEmpleadoPorPartes">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="Primerapellido" type="xs:string" />
      <xs:element minOccurs="0" name="Segundoapellido" type="xs:string" />
      <xs:element minOccurs="0" name="correoElectronico" type="xs:string" />
      <xs:element minOccurs="0" name="contrasenha" type="xs:string" />
      <xs:element minOccurs="0" name="celular" type="xs:string" />
      <xs:element minOccurs="0" name="urlFotoPerfil" type="xs:string" />
      <xs:element minOccurs="0" name="admin" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InsertarEmpleadoPorPartesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InsertarEmpleado">
    <xs:sequence>
      <xs:element minOccurs="0" name="empleado" type="tns:empleadoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="empleadoDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuarioDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="admin" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="servicios" nillable="true" type="tns:servicioDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="usuarioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:int" />
      <xs:element name="cantidadServicios" type="xs:int" />
      <xs:element minOccurs="0" name="celular" type="xs:string" />
      <xs:element minOccurs="0" name="contrasenha" type="xs:string" />
      <xs:element minOccurs="0" name="correoElectronico" type="xs:string" />
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="primerapellido" type="xs:string" />
      <xs:element minOccurs="0" name="rol" type="xs:int" />
      <xs:element minOccurs="0" name="segundoapellido" type="xs:string" />
      <xs:element minOccurs="0" name="urlFotoPerfil" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="servicioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="citas" nillable="true" type="tns:citaDTO" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="comentarios" nillable="true" type="tns:comentarioDTO" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="duracionHora" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="empleados" nillable="true" type="tns:empleadoDTO" />
      <xs:element minOccurs="0" name="idServicio" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="precio" type="xs:double" />
      <xs:element minOccurs="0" name="promedioValoracion" type="xs:double" />
      <xs:element minOccurs="0" name="tipo" type="xs:string" />
      <xs:element minOccurs="0" name="urlImagen" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="citaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="horaIni" type="xs:string" />
      <xs:element minOccurs="0" name="horaFin" type="xs:string" />
      <xs:element minOccurs="0" name="cliente" type="tns:clienteDTO" />
      <xs:element minOccurs="0" name="servicio" type="tns:servicioDTO" />
      <xs:element minOccurs="0" name="empleado" type="tns:empleadoDTO" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="IGV" type="xs:double" />
      <xs:element minOccurs="0" name="codigoTransaccion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="clienteDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuarioDTO">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="comentarioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="cliente" type="tns:clienteDTO" />
      <xs:element minOccurs="0" name="comentario" type="xs:string" />
      <xs:element minOccurs="0" name="idComentario" type="xs:int" />
      <xs:element minOccurs="0" name="producto" type="tns:productoDTO" />
      <xs:element minOccurs="0" name="servicio" type="tns:servicioDTO" />
      <xs:element minOccurs="0" name="valoracion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="comentarios" nillable="true" type="tns:comentarioDTO" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="idProducto" type="xs:int" />
      <xs:element minOccurs="0" name="modoUso" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="precio" type="xs:double" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="productosTipos" nillable="true" type="tns:productoTipoDTO" />
      <xs:element minOccurs="0" name="promedioValoracion" type="xs:double" />
      <xs:element minOccurs="0" name="tamanho" type="xs:double" />
      <xs:element minOccurs="0" name="urlImagen" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productoTipoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="ingredientes" type="xs:string" />
      <xs:element minOccurs="0" name="producto" type="tns:productoDTO" />
      <xs:element minOccurs="0" name="stock_despacho" type="xs:int" />
      <xs:element minOccurs="0" name="stock_fisico" type="xs:int" />
      <xs:element minOccurs="0" name="tipo" type="tns:tipoProdDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipoProdDTO">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InsertarEmpleadoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AgregarServicioAEmpleado">
    <xs:sequence>
      <xs:element minOccurs="0" name="empleadoId" type="xs:int" />
      <xs:element minOccurs="0" name="servicioId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AgregarServicioAEmpleadoResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="ListarCitasDeEmpleado">
    <xs:sequence>
      <xs:element minOccurs="0" name="empleadoId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListarCitasDeEmpleadoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:citaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListarTodosEmpleados">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="ListarTodosEmpleadosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:empleadoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EliminarEmpleado">
    <xs:sequence>
      <xs:element minOccurs="0" name="empleado" type="tns:empleadoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EliminarEmpleadoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerEmpleadoPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerEmpleadoPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:empleadoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListarServiciosDeEmpleado">
    <xs:sequence>
      <xs:element minOccurs="0" name="empleadoId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListarServiciosDeEmpleadoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:servicioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ModificarEmpleado">
    <xs:sequence>
      <xs:element minOccurs="0" name="empleado" type="tns:empleadoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ModificarEmpleadoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>