Frontend-C#/MGBeautySpaWebAplication/SoftInvBusiness/Connected Services/SoftInvWSEmpleado/Empleado1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://softinvws.services.softinv.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Empleado" targetNamespace="http://softinvws.services.softinv.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftInvWS/Empleado?xsd=1" namespace="http://softinvws.services.softinv.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="ListarTodosEmpleados">
    <part name="parameters" element="tns:ListarTodosEmpleados" />
  </message>
  <message name="ListarTodosEmpleadosResponse">
    <part name="parameters" element="tns:ListarTodosEmpleadosResponse" />
  </message>
  <message name="ListarServiciosDeEmpleado">
    <part name="parameters" element="tns:ListarServiciosDeEmpleado" />
  </message>
  <message name="ListarServiciosDeEmpleadoResponse">
    <part name="parameters" element="tns:ListarServiciosDeEmpleadoResponse" />
  </message>
  <message name="ListarCitasDeEmpleado">
    <part name="parameters" element="tns:ListarCitasDeEmpleado" />
  </message>
  <message name="ListarCitasDeEmpleadoResponse">
    <part name="parameters" element="tns:ListarCitasDeEmpleadoResponse" />
  </message>
  <message name="InsertarEmpleadoPorPartes">
    <part name="parameters" element="tns:InsertarEmpleadoPorPartes" />
  </message>
  <message name="InsertarEmpleadoPorPartesResponse">
    <part name="parameters" element="tns:InsertarEmpleadoPorPartesResponse" />
  </message>
  <message name="AgregarServicioAEmpleado">
    <part name="parameters" element="tns:AgregarServicioAEmpleado" />
  </message>
  <message name="AgregarServicioAEmpleadoResponse">
    <part name="parameters" element="tns:AgregarServicioAEmpleadoResponse" />
  </message>
  <message name="ObtenerEmpleadoPorId">
    <part name="parameters" element="tns:ObtenerEmpleadoPorId" />
  </message>
  <message name="ObtenerEmpleadoPorIdResponse">
    <part name="parameters" element="tns:ObtenerEmpleadoPorIdResponse" />
  </message>
  <message name="ModificarEmpleado">
    <part name="parameters" element="tns:ModificarEmpleado" />
  </message>
  <message name="ModificarEmpleadoResponse">
    <part name="parameters" element="tns:ModificarEmpleadoResponse" />
  </message>
  <message name="EliminarEmpleado">
    <part name="parameters" element="tns:EliminarEmpleado" />
  </message>
  <message name="EliminarEmpleadoResponse">
    <part name="parameters" element="tns:EliminarEmpleadoResponse" />
  </message>
  <message name="InsertarEmpleado">
    <part name="parameters" element="tns:InsertarEmpleado" />
  </message>
  <message name="InsertarEmpleadoResponse">
    <part name="parameters" element="tns:InsertarEmpleadoResponse" />
  </message>
  <portType name="Empleado">
    <operation name="ListarTodosEmpleados">
      <input wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Empleado/ListarTodosEmpleadosRequest" message="tns:ListarTodosEmpleados" />
      <output wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Empleado/ListarTodosEmpleadosResponse" message="tns:ListarTodosEmpleadosResponse" />
    </operation>
    <operation name="ListarServiciosDeEmpleado">
      <input wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Empleado/ListarServiciosDeEmpleadoRequest" message="tns:ListarServiciosDeEmpleado" />
      <output wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Empleado/ListarServiciosDeEmpleadoResponse" message="tns:ListarServiciosDeEmpleadoResponse" />
    </operation>
    <operation name="ListarCitasDeEmpleado">
      <input wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Empleado/ListarCitasDeEmpleadoRequest" message="tns:ListarCitasDeEmpleado" />
      <output wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Empleado/ListarCitasDeEmpleadoResponse" message="tns:ListarCitasDeEmpleadoResponse" />
    </operation>
    <operation name="InsertarEmpleadoPorPartes">
      <input wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Empleado/InsertarEmpleadoPorPartesRequest" message="tns:InsertarEmpleadoPorPartes" />
      <output wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Empleado/InsertarEmpleadoPorPartesResponse" message="tns:InsertarEmpleadoPorPartesResponse" />
    </operation>
    <operation name="AgregarServicioAEmpleado">
      <input wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Empleado/AgregarServicioAEmpleadoRequest" message="tns:AgregarServicioAEmpleado" />
      <output wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Empleado/AgregarServicioAEmpleadoResponse" message="tns:AgregarServicioAEmpleadoResponse" />
    </operation>
    <operation name="ObtenerEmpleadoPorId">
      <input wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Empleado/ObtenerEmpleadoPorIdRequest" message="tns:ObtenerEmpleadoPorId" />
      <output wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Empleado/ObtenerEmpleadoPorIdResponse" message="tns:ObtenerEmpleadoPorIdResponse" />
    </operation>
    <operation name="ModificarEmpleado">
      <input wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Empleado/ModificarEmpleadoRequest" message="tns:ModificarEmpleado" />
      <output wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Empleado/ModificarEmpleadoResponse" message="tns:ModificarEmpleadoResponse" />
    </operation>
    <operation name="EliminarEmpleado">
      <input wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Empleado/EliminarEmpleadoRequest" message="tns:EliminarEmpleado" />
      <output wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Empleado/EliminarEmpleadoResponse" message="tns:EliminarEmpleadoResponse" />
    </operation>
    <operation name="InsertarEmpleado">
      <input wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Empleado/InsertarEmpleadoRequest" message="tns:InsertarEmpleado" />
      <output wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Empleado/InsertarEmpleadoResponse" message="tns:InsertarEmpleadoResponse" />
    </operation>
  </portType>
  <binding name="EmpleadoPortBinding" type="tns:Empleado">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="ListarTodosEmpleados">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListarServiciosDeEmpleado">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListarCitasDeEmpleado">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="InsertarEmpleadoPorPartes">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="AgregarServicioAEmpleado">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ObtenerEmpleadoPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ModificarEmpleado">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="EliminarEmpleado">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="InsertarEmpleado">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Empleado">
    <port name="EmpleadoPort" binding="tns:EmpleadoPortBinding">
      <soap:address location="http://localhost:8080/SoftInvWS/Empleado" />
    </port>
  </service>
</definitions>