Frontend-C#/MGBeautySpaWebAplication/SoftInvBusiness/Connected Services/SoftInvWSUsuario/Usuario1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://softinvws.services.softinv.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Usuario" targetNamespace="http://softinvws.services.softinv.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftInvWS/Usuario?xsd=1" namespace="http://softinvws.services.softinv.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="ObtenerUsuario">
    <part name="parameters" element="tns:ObtenerUsuario" />
  </message>
  <message name="ObtenerUsuarioResponse">
    <part name="parameters" element="tns:ObtenerUsuarioResponse" />
  </message>
  <message name="RegistrarToken">
    <part name="parameters" element="tns:RegistrarToken" />
  </message>
  <message name="RegistrarTokenResponse">
    <part name="parameters" element="tns:RegistrarTokenResponse" />
  </message>
  <message name="ModificarContrasenha">
    <part name="parameters" element="tns:ModificarContrasenha" />
  </message>
  <message name="ModificarContrasenhaResponse">
    <part name="parameters" element="tns:ModificarContrasenhaResponse" />
  </message>
  <message name="IniciarSesion">
    <part name="parameters" element="tns:IniciarSesion" />
  </message>
  <message name="IniciarSesionResponse">
    <part name="parameters" element="tns:IniciarSesionResponse" />
  </message>
  <message name="ListarUsuarios">
    <part name="parameters" element="tns:ListarUsuarios" />
  </message>
  <message name="ListarUsuariosResponse">
    <part name="parameters" element="tns:ListarUsuariosResponse" />
  </message>
  <message name="ActivoUsuario">
    <part name="parameters" element="tns:ActivoUsuario" />
  </message>
  <message name="ActivoUsuarioResponse">
    <part name="parameters" element="tns:ActivoUsuarioResponse" />
  </message>
  <message name="ObtenerTokenDelUsuario">
    <part name="parameters" element="tns:ObtenerTokenDelUsuario" />
  </message>
  <message name="ObtenerTokenDelUsuarioResponse">
    <part name="parameters" element="tns:ObtenerTokenDelUsuarioResponse" />
  </message>
  <message name="MarcarTokenComoUsado">
    <part name="parameters" element="tns:MarcarTokenComoUsado" />
  </message>
  <message name="MarcarTokenComoUsadoResponse">
    <part name="parameters" element="tns:MarcarTokenComoUsadoResponse" />
  </message>
  <portType name="Usuario">
    <operation name="ObtenerUsuario">
      <input wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Usuario/ObtenerUsuarioRequest" message="tns:ObtenerUsuario" />
      <output wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Usuario/ObtenerUsuarioResponse" message="tns:ObtenerUsuarioResponse" />
    </operation>
    <operation name="RegistrarToken">
      <input wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Usuario/RegistrarTokenRequest" message="tns:RegistrarToken" />
      <output wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Usuario/RegistrarTokenResponse" message="tns:RegistrarTokenResponse" />
    </operation>
    <operation name="ModificarContrasenha">
      <input wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Usuario/ModificarContrasenhaRequest" message="tns:ModificarContrasenha" />
      <output wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Usuario/ModificarContrasenhaResponse" message="tns:ModificarContrasenhaResponse" />
    </operation>
    <operation name="IniciarSesion">
      <input wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Usuario/IniciarSesionRequest" message="tns:IniciarSesion" />
      <output wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Usuario/IniciarSesionResponse" message="tns:IniciarSesionResponse" />
    </operation>
    <operation name="ListarUsuarios">
      <input wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Usuario/ListarUsuariosRequest" message="tns:ListarUsuarios" />
      <output wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Usuario/ListarUsuariosResponse" message="tns:ListarUsuariosResponse" />
    </operation>
    <operation name="ActivoUsuario">
      <input wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Usuario/ActivoUsuarioRequest" message="tns:ActivoUsuario" />
      <output wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Usuario/ActivoUsuarioResponse" message="tns:ActivoUsuarioResponse" />
    </operation>
    <operation name="ObtenerTokenDelUsuario">
      <input wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Usuario/ObtenerTokenDelUsuarioRequest" message="tns:ObtenerTokenDelUsuario" />
      <output wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Usuario/ObtenerTokenDelUsuarioResponse" message="tns:ObtenerTokenDelUsuarioResponse" />
    </operation>
    <operation name="MarcarTokenComoUsado">
      <input wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Usuario/MarcarTokenComoUsadoRequest" message="tns:MarcarTokenComoUsado" />
      <output wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Usuario/MarcarTokenComoUsadoResponse" message="tns:MarcarTokenComoUsadoResponse" />
    </operation>
  </portType>
  <binding name="UsuarioPortBinding" type="tns:Usuario">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="ObtenerUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RegistrarToken">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ModificarContrasenha">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="IniciarSesion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListarUsuarios">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ActivoUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ObtenerTokenDelUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="MarcarTokenComoUsado">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Usuario">
    <port name="UsuarioPort" binding="tns:UsuarioPortBinding">
      <soap:address location="http://localhost:8080/SoftInvWS/Usuario" />
    </port>
  </service>
</definitions>