Frontend-C#/MGBeautySpaWebAplication/SoftInvBusiness/Connected Services/SoftInvWSHorarioTrabajo/HorarioTrabajo1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://softinvws.services.softinv.pucp.edu.pe/" targetNamespace="http://softinvws.services.softinv.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EliminarHorarioTrabajo" type="tns:EliminarHorarioTrabajo" />
  <xs:element name="EliminarHorarioTrabajoResponse" type="tns:EliminarHorarioTrabajoResponse" />
  <xs:element name="InsertarHorarioTrabajo" type="tns:InsertarHorarioTrabajo" />
  <xs:element name="InsertarHorarioTrabajoResponse" type="tns:InsertarHorarioTrabajoResponse" />
  <xs:element name="ListarPorEmpleado" type="tns:ListarPorEmpleado" />
  <xs:element name="ListarPorEmpleadoResponse" type="tns:ListarPorEmpleadoResponse" />
  <xs:element name="ModificarHorarioTrabajo" type="tns:ModificarHorarioTrabajo" />
  <xs:element name="ModificarHorarioTrabajoResponse" type="tns:ModificarHorarioTrabajoResponse" />
  <xs:element name="ObtenerHorarioTrabajoPorId" type="tns:ObtenerHorarioTrabajoPorId" />
  <xs:element name="ObtenerHorarioTrabajoPorIdResponse" type="tns:ObtenerHorarioTrabajoPorIdResponse" />
  <xs:element name="ObtenerHorariosPorEmpleadoYFecha" type="tns:ObtenerHorariosPorEmpleadoYFecha" />
  <xs:element name="ObtenerHorariosPorEmpleadoYFechaResponse" type="tns:ObtenerHorariosPorEmpleadoYFechaResponse" />
  <xs:complexType name="ObtenerHorarioTrabajoPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="horarioId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerHorarioTrabajoPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:horarioTrabajoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="horarioTrabajoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="horaInicio" type="xs:string" />
      <xs:element minOccurs="0" name="horaFin" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="empleado" type="tns:empleadoDTO" />
      <xs:element minOccurs="0" name="diaSemana" type="xs:int" />
      <xs:element minOccurs="0" name="numIntervalo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="empleadoDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuarioDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="admin" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="servicios" nillable="true" type="tns:servicioDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="usuarioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:int" />
      <xs:element name="cantidadServicios" type="xs:int" />
      <xs:element minOccurs="0" name="celular" type="xs:string" />
      <xs:element minOccurs="0" name="contrasenha" type="xs:string" />
      <xs:element minOccurs="0" name="correoElectronico" type="xs:string" />
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="primerapellido" type="xs:string" />
      <xs:element minOccurs="0" name="rol" type="xs:int" />
      <xs:element minOccurs="0" name="segundoapellido" type="xs:string" />
      <xs:element minOccurs="0" name="urlFotoPerfil" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="servicioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="citas" nillable="true" type="tns:citaDTO" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="comentarios" nillable="true" type="tns:comentarioDTO" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="duracionHora" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="empleados" nillable="true" type="tns:empleadoDTO" />
      <xs:element minOccurs="0" name="idServicio" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="precio" type="xs:double" />
      <xs:element minOccurs="0" name="promedioValoracion" type="xs:double" />
      <xs:element minOccurs="0" name="tipo" type="xs:string" />
      <xs:element minOccurs="0" name="urlImagen" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="citaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="horaIni" type="xs:string" />
      <xs:element minOccurs="0" name="horaFin" type="xs:string" />
      <xs:element minOccurs="0" name="cliente" type="tns:clienteDTO" />
      <xs:element minOccurs="0" name="servicio" type="tns:servicioDTO" />
      <xs:element minOccurs="0" name="empleado" type="tns:empleadoDTO" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="IGV" type="xs:double" />
      <xs:element minOccurs="0" name="codigoTransaccion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="clienteDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuarioDTO">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="comentarioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="cliente" type="tns:clienteDTO" />
      <xs:element minOccurs="0" name="comentario" type="xs:string" />
      <xs:element minOccurs="0" name="idComentario" type="xs:int" />
      <xs:element minOccurs="0" name="producto" type="tns:productoDTO" />
      <xs:element minOccurs="0" name="servicio" type="tns:servicioDTO" />
      <xs:element minOccurs="0" name="valoracion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="comentarios" nillable="true" type="tns:comentarioDTO" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="idProducto" type="xs:int" />
      <xs:element minOccurs="0" name="modoUso" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="precio" type="xs:double" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="productosTipos" nillable="true" type="tns:productoTipoDTO" />
      <xs:element minOccurs="0" name="promedioValoracion" type="xs:double" />
      <xs:element minOccurs="0" name="tamanho" type="xs:double" />
      <xs:element minOccurs="0" name="urlImagen" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productoTipoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="ingredientes" type="xs:string" />
      <xs:element minOccurs="0" name="producto" type="tns:productoDTO" />
      <xs:element minOccurs="0" name="stock_despacho" type="xs:int" />
      <xs:element minOccurs="0" name="stock_fisico" type="xs:int" />
      <xs:element minOccurs="0" name="tipo" type="tns:tipoProdDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipoProdDTO">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InsertarHorarioTrabajo">
    <xs:sequence>
      <xs:element minOccurs="0" name="horarioTrabajo" type="tns:horarioTrabajoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InsertarHorarioTrabajoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EliminarHorarioTrabajo">
    <xs:sequence>
      <xs:element minOccurs="0" name="horarioTrabajo" type="tns:horarioTrabajoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EliminarHorarioTrabajoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListarPorEmpleado">
    <xs:sequence>
      <xs:element minOccurs="0" name="empleadoId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListarPorEmpleadoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:horarioTrabajoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ModificarHorarioTrabajo">
    <xs:sequence>
      <xs:element minOccurs="0" name="horarioTrabajo" type="tns:horarioTrabajoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ModificarHorarioTrabajoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerHorariosPorEmpleadoYFecha">
    <xs:sequence>
      <xs:element minOccurs="0" name="empleadoId" type="xs:int" />
      <xs:element minOccurs="0" name="diaSemana" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerHorariosPorEmpleadoYFechaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:horarioTrabajoDTO" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>