Frontend-C#/MGBeautySpaWebAplication/SoftInvBusiness/Connected Services/SoftInvWSPedido/Pedido1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://softinvws.services.softinv.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Pedido" targetNamespace="http://softinvws.services.softinv.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftInvWS/Pedido?xsd=1" namespace="http://softinvws.services.softinv.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="ModificarDetallePedido">
    <part name="parameters" element="tns:ModificarDetallePedido" />
  </message>
  <message name="ModificarDetallePedidoResponse">
    <part name="parameters" element="tns:ModificarDetallePedidoResponse" />
  </message>
  <message name="InsertarDetallePedido">
    <part name="parameters" element="tns:InsertarDetallePedido" />
  </message>
  <message name="InsertarDetallePedidoResponse">
    <part name="parameters" element="tns:InsertarDetallePedidoResponse" />
  </message>
  <message name="ListarPedidosDeCliente">
    <part name="parameters" element="tns:ListarPedidosDeCliente" />
  </message>
  <message name="ListarPedidosDeClienteResponse">
    <part name="parameters" element="tns:ListarPedidosDeClienteResponse" />
  </message>
  <message name="ObtenerDetallePedido">
    <part name="parameters" element="tns:ObtenerDetallePedido" />
  </message>
  <message name="ObtenerDetallePedidoResponse">
    <part name="parameters" element="tns:ObtenerDetallePedidoResponse" />
  </message>
  <message name="EliminarDetallePedido">
    <part name="parameters" element="tns:EliminarDetallePedido" />
  </message>
  <message name="EliminarDetallePedidoResponse">
    <part name="parameters" element="tns:EliminarDetallePedidoResponse" />
  </message>
  <message name="ObtenerDetallesPorPedidoId">
    <part name="parameters" element="tns:ObtenerDetallesPorPedidoId" />
  </message>
  <message name="ObtenerDetallesPorPedidoIdResponse">
    <part name="parameters" element="tns:ObtenerDetallesPorPedidoIdResponse" />
  </message>
  <message name="ComprobarDetallesPedidos">
    <part name="parameters" element="tns:ComprobarDetallesPedidos" />
  </message>
  <message name="ComprobarDetallesPedidosResponse">
    <part name="parameters" element="tns:ComprobarDetallesPedidosResponse" />
  </message>
  <message name="ObtenerCarritoPorCliente">
    <part name="parameters" element="tns:ObtenerCarritoPorCliente" />
  </message>
  <message name="ObtenerCarritoPorClienteResponse">
    <part name="parameters" element="tns:ObtenerCarritoPorClienteResponse" />
  </message>
  <message name="InsertarPedido">
    <part name="parameters" element="tns:InsertarPedido" />
  </message>
  <message name="InsertarPedidoResponse">
    <part name="parameters" element="tns:InsertarPedidoResponse" />
  </message>
  <message name="ListarPedidosNOCARRITO">
    <part name="parameters" element="tns:ListarPedidosNOCARRITO" />
  </message>
  <message name="ListarPedidosNOCARRITOResponse">
    <part name="parameters" element="tns:ListarPedidosNOCARRITOResponse" />
  </message>
  <message name="EliminarPedido">
    <part name="parameters" element="tns:EliminarPedido" />
  </message>
  <message name="EliminarPedidoResponse">
    <part name="parameters" element="tns:EliminarPedidoResponse" />
  </message>
  <message name="RechazarRecojo">
    <part name="parameters" element="tns:RechazarRecojo" />
  </message>
  <message name="RechazarRecojoResponse">
    <part name="parameters" element="tns:RechazarRecojoResponse" />
  </message>
  <message name="ObtenerPedidoPorId">
    <part name="parameters" element="tns:ObtenerPedidoPorId" />
  </message>
  <message name="ObtenerPedidoPorIdResponse">
    <part name="parameters" element="tns:ObtenerPedidoPorIdResponse" />
  </message>
  <message name="AceptarRecojo">
    <part name="parameters" element="tns:AceptarRecojo" />
  </message>
  <message name="AceptarRecojoResponse">
    <part name="parameters" element="tns:AceptarRecojoResponse" />
  </message>
  <message name="ModificarPedido">
    <part name="parameters" element="tns:ModificarPedido" />
  </message>
  <message name="ModificarPedidoResponse">
    <part name="parameters" element="tns:ModificarPedidoResponse" />
  </message>
  <message name="modificarProductoTipo">
    <part name="parameters" element="tns:modificarProductoTipo" />
  </message>
  <message name="modificarProductoTipoResponse">
    <part name="parameters" element="tns:modificarProductoTipoResponse" />
  </message>
  <portType name="Pedido">
    <operation name="ModificarDetallePedido">
      <input wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Pedido/ModificarDetallePedidoRequest" message="tns:ModificarDetallePedido" />
      <output wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Pedido/ModificarDetallePedidoResponse" message="tns:ModificarDetallePedidoResponse" />
    </operation>
    <operation name="InsertarDetallePedido">
      <input wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Pedido/InsertarDetallePedidoRequest" message="tns:InsertarDetallePedido" />
      <output wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Pedido/InsertarDetallePedidoResponse" message="tns:InsertarDetallePedidoResponse" />
    </operation>
    <operation name="ListarPedidosDeCliente">
      <input wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Pedido/ListarPedidosDeClienteRequest" message="tns:ListarPedidosDeCliente" />
      <output wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Pedido/ListarPedidosDeClienteResponse" message="tns:ListarPedidosDeClienteResponse" />
    </operation>
    <operation name="ObtenerDetallePedido">
      <input wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Pedido/ObtenerDetallePedidoRequest" message="tns:ObtenerDetallePedido" />
      <output wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Pedido/ObtenerDetallePedidoResponse" message="tns:ObtenerDetallePedidoResponse" />
    </operation>
    <operation name="EliminarDetallePedido">
      <input wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Pedido/EliminarDetallePedidoRequest" message="tns:EliminarDetallePedido" />
      <output wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Pedido/EliminarDetallePedidoResponse" message="tns:EliminarDetallePedidoResponse" />
    </operation>
    <operation name="ObtenerDetallesPorPedidoId">
      <input wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Pedido/ObtenerDetallesPorPedidoIdRequest" message="tns:ObtenerDetallesPorPedidoId" />
      <output wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Pedido/ObtenerDetallesPorPedidoIdResponse" message="tns:ObtenerDetallesPorPedidoIdResponse" />
    </operation>
    <operation name="ComprobarDetallesPedidos">
      <input wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Pedido/ComprobarDetallesPedidosRequest" message="tns:ComprobarDetallesPedidos" />
      <output wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Pedido/ComprobarDetallesPedidosResponse" message="tns:ComprobarDetallesPedidosResponse" />
    </operation>
    <operation name="ObtenerCarritoPorCliente">
      <input wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Pedido/ObtenerCarritoPorClienteRequest" message="tns:ObtenerCarritoPorCliente" />
      <output wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Pedido/ObtenerCarritoPorClienteResponse" message="tns:ObtenerCarritoPorClienteResponse" />
    </operation>
    <operation name="InsertarPedido">
      <input wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Pedido/InsertarPedidoRequest" message="tns:InsertarPedido" />
      <output wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Pedido/InsertarPedidoResponse" message="tns:InsertarPedidoResponse" />
    </operation>
    <operation name="ListarPedidosNOCARRITO">
      <input wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Pedido/ListarPedidosNOCARRITORequest" message="tns:ListarPedidosNOCARRITO" />
      <output wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Pedido/ListarPedidosNOCARRITOResponse" message="tns:ListarPedidosNOCARRITOResponse" />
    </operation>
    <operation name="EliminarPedido">
      <input wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Pedido/EliminarPedidoRequest" message="tns:EliminarPedido" />
      <output wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Pedido/EliminarPedidoResponse" message="tns:EliminarPedidoResponse" />
    </operation>
    <operation name="RechazarRecojo">
      <input wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Pedido/RechazarRecojoRequest" message="tns:RechazarRecojo" />
      <output wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Pedido/RechazarRecojoResponse" message="tns:RechazarRecojoResponse" />
    </operation>
    <operation name="ObtenerPedidoPorId">
      <input wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Pedido/ObtenerPedidoPorIdRequest" message="tns:ObtenerPedidoPorId" />
      <output wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Pedido/ObtenerPedidoPorIdResponse" message="tns:ObtenerPedidoPorIdResponse" />
    </operation>
    <operation name="AceptarRecojo">
      <input wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Pedido/AceptarRecojoRequest" message="tns:AceptarRecojo" />
      <output wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Pedido/AceptarRecojoResponse" message="tns:AceptarRecojoResponse" />
    </operation>
    <operation name="ModificarPedido">
      <input wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Pedido/ModificarPedidoRequest" message="tns:ModificarPedido" />
      <output wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Pedido/ModificarPedidoResponse" message="tns:ModificarPedidoResponse" />
    </operation>
    <operation name="modificarProductoTipo">
      <input wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Pedido/modificarProductoTipoRequest" message="tns:modificarProductoTipo" />
      <output wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Pedido/modificarProductoTipoResponse" message="tns:modificarProductoTipoResponse" />
    </operation>
  </portType>
  <binding name="PedidoPortBinding" type="tns:Pedido">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="ModificarDetallePedido">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="InsertarDetallePedido">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListarPedidosDeCliente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ObtenerDetallePedido">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="EliminarDetallePedido">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ObtenerDetallesPorPedidoId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ComprobarDetallesPedidos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ObtenerCarritoPorCliente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="InsertarPedido">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListarPedidosNOCARRITO">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="EliminarPedido">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RechazarRecojo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ObtenerPedidoPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="AceptarRecojo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ModificarPedido">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarProductoTipo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Pedido">
    <port name="PedidoPort" binding="tns:PedidoPortBinding">
      <soap:address location="http://localhost:8080/SoftInvWS/Pedido" />
    </port>
  </service>
</definitions>