Frontend-C#/MGBeautySpaWebAplication/SoftInvBusiness/Connected Services/SoftInvWSPedido/Pedido1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://softinvws.services.softinv.pucp.edu.pe/" targetNamespace="http://softinvws.services.softinv.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EliminarDetallePedido" type="tns:EliminarDetallePedido" />
  <xs:element name="EliminarDetallePedidoResponse" type="tns:EliminarDetallePedidoResponse" />
  <xs:element name="EliminarPedido" type="tns:EliminarPedido" />
  <xs:element name="EliminarPedidoResponse" type="tns:EliminarPedidoResponse" />
  <xs:element name="InsertarDetallePedido" type="tns:InsertarDetallePedido" />
  <xs:element name="InsertarDetallePedidoResponse" type="tns:InsertarDetallePedidoResponse" />
  <xs:element name="InsertarPedido" type="tns:InsertarPedido" />
  <xs:element name="InsertarPedidoResponse" type="tns:InsertarPedidoResponse" />
  <xs:element name="ListarPedidosDeCliente" type="tns:ListarPedidosDeCliente" />
  <xs:element name="ListarPedidosDeClienteResponse" type="tns:ListarPedidosDeClienteResponse" />
  <xs:element name="ModificarDetallePedido" type="tns:ModificarDetallePedido" />
  <xs:element name="ModificarDetallePedidoResponse" type="tns:ModificarDetallePedidoResponse" />
  <xs:element name="ModificarPedido" type="tns:ModificarPedido" />
  <xs:element name="ModificarPedidoResponse" type="tns:ModificarPedidoResponse" />
  <xs:element name="ObtenerCarritoPorCliente" type="tns:ObtenerCarritoPorCliente" />
  <xs:element name="ObtenerCarritoPorClienteResponse" type="tns:ObtenerCarritoPorClienteResponse" />
  <xs:element name="ObtenerDetallePedido" type="tns:ObtenerDetallePedido" />
  <xs:element name="ObtenerDetallePedidoResponse" type="tns:ObtenerDetallePedidoResponse" />
  <xs:element name="ObtenerDetallesPorPedidoId" type="tns:ObtenerDetallesPorPedidoId" />
  <xs:element name="ObtenerDetallesPorPedidoIdResponse" type="tns:ObtenerDetallesPorPedidoIdResponse" />
  <xs:element name="ObtenerPedidoPorId" type="tns:ObtenerPedidoPorId" />
  <xs:element name="ObtenerPedidoPorIdResponse" type="tns:ObtenerPedidoPorIdResponse" />
  <xs:complexType name="InsertarPedido">
    <xs:sequence>
      <xs:element minOccurs="0" name="pedido" type="tns:pedidoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pedidoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="cliente" type="tns:clienteDTO" />
      <xs:element minOccurs="0" name="codigoTransaccion" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="detallesPedido" nillable="true" type="tns:detallePedidoDTO" />
      <xs:element minOccurs="0" name="estadoPedido" type="tns:estadoPedido" />
      <xs:element minOccurs="0" name="fechaListaParaRecojo" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaPago" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaRecojo" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IGV" type="xs:double" />
      <xs:element minOccurs="0" name="idPedido" type="xs:int" />
      <xs:element minOccurs="0" name="total" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="clienteDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuarioDTO">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="usuarioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:int" />
      <xs:element name="cantidadServicios" type="xs:int" />
      <xs:element minOccurs="0" name="celular" type="xs:string" />
      <xs:element minOccurs="0" name="contrasenha" type="xs:string" />
      <xs:element minOccurs="0" name="correoElectronico" type="xs:string" />
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="primerapellido" type="xs:string" />
      <xs:element minOccurs="0" name="rol" type="xs:int" />
      <xs:element minOccurs="0" name="segundoapellido" type="xs:string" />
      <xs:element minOccurs="0" name="urlFotoPerfil" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="detallePedidoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="producto" type="tns:productoTipoDTO" />
      <xs:element minOccurs="0" name="subtotal" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productoTipoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="ingredientes" type="xs:string" />
      <xs:element minOccurs="0" name="producto" type="tns:productoDTO" />
      <xs:element minOccurs="0" name="stock_despacho" type="xs:int" />
      <xs:element minOccurs="0" name="stock_fisico" type="xs:int" />
      <xs:element minOccurs="0" name="tipo" type="tns:tipoProdDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="comentarios" nillable="true" type="tns:comentarioDTO" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="idProducto" type="xs:int" />
      <xs:element minOccurs="0" name="modoUso" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="precio" type="xs:double" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="productosTipos" nillable="true" type="tns:productoTipoDTO" />
      <xs:element minOccurs="0" name="promedioValoracion" type="xs:double" />
      <xs:element minOccurs="0" name="tamanho" type="xs:double" />
      <xs:element minOccurs="0" name="urlImagen" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comentarioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="cliente" type="tns:clienteDTO" />
      <xs:element minOccurs="0" name="comentario" type="xs:string" />
      <xs:element minOccurs="0" name="idComentario" type="xs:int" />
      <xs:element minOccurs="0" name="producto" type="tns:productoDTO" />
      <xs:element minOccurs="0" name="servicio" type="tns:servicioDTO" />
      <xs:element minOccurs="0" name="valoracion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="servicioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="citas" nillable="true" type="tns:citaDTO" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="comentarios" nillable="true" type="tns:comentarioDTO" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="duracionHora" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="empleados" nillable="true" type="tns:empleadoDTO" />
      <xs:element minOccurs="0" name="idServicio" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="precio" type="xs:double" />
      <xs:element minOccurs="0" name="promedioValoracion" type="xs:double" />
      <xs:element minOccurs="0" name="tipo" type="xs:string" />
      <xs:element minOccurs="0" name="urlImagen" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="citaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="horaIni" type="xs:string" />
      <xs:element minOccurs="0" name="horaFin" type="xs:string" />
      <xs:element minOccurs="0" name="cliente" type="tns:clienteDTO" />
      <xs:element minOccurs="0" name="servicio" type="tns:servicioDTO" />
      <xs:element minOccurs="0" name="empleado" type="tns:empleadoDTO" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="IGV" type="xs:double" />
      <xs:element minOccurs="0" name="codigoTransaccion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="empleadoDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuarioDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="admin" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="servicios" nillable="true" type="tns:servicioDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="tipoProdDTO">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InsertarPedidoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InsertarDetallePedido">
    <xs:sequence>
      <xs:element minOccurs="0" name="detallePedido" type="tns:detallePedidoDTO" />
      <xs:element minOccurs="0" name="idPedido" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InsertarDetallePedidoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EliminarPedido">
    <xs:sequence>
      <xs:element minOccurs="0" name="pedido" type="tns:pedidoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EliminarPedidoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerCarritoPorCliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="idCliente" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerCarritoPorClienteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:pedidoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerDetallePedido">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPedido" type="xs:int" />
      <xs:element minOccurs="0" name="idProducto" type="xs:int" />
      <xs:element minOccurs="0" name="tipoId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerDetallePedidoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:detallePedidoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EliminarDetallePedido">
    <xs:sequence>
      <xs:element minOccurs="0" name="detallePedido" type="tns:detallePedidoDTO" />
      <xs:element minOccurs="0" name="idPedido" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EliminarDetallePedidoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ModificarDetallePedido">
    <xs:sequence>
      <xs:element minOccurs="0" name="detallePedido" type="tns:detallePedidoDTO" />
      <xs:element minOccurs="0" name="idPedido" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ModificarDetallePedidoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerDetallesPorPedidoId">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPedido" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerDetallesPorPedidoIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:detallePedidoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerPedidoPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPedido" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerPedidoPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:pedidoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ModificarPedido">
    <xs:sequence>
      <xs:element minOccurs="0" name="pedido" type="tns:pedidoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ModificarPedidoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListarPedidosDeCliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="idCliente" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListarPedidosDeClienteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:pedidoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="estadoPedido">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EnCarrito" />
      <xs:enumeration value="ELIMINADO" />
      <xs:enumeration value="CONFIRMADO" />
      <xs:enumeration value="LISTO_PARA_RECOGER" />
      <xs:enumeration value="RECOGIDO" />
      <xs:enumeration value="NO_RECOGIDO" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>