Frontend-C#/MGBeautySpaWebAplication/SoftInvBusiness/Connected Services/SoftInvWSProductos/Productos1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://softinvws.services.softinv.pucp.edu.pe/" targetNamespace="http://softinvws.services.softinv.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EliminarProducto" type="tns:EliminarProducto" />
  <xs:element name="EliminarProductoResponse" type="tns:EliminarProductoResponse" />
  <xs:element name="ModificarProducto" type="tns:ModificarProducto" />
  <xs:element name="ModificarProductoResponse" type="tns:ModificarProductoResponse" />
  <xs:element name="ObtenerProducto" type="tns:ObtenerProducto" />
  <xs:element name="ObtenerProductoResponse" type="tns:ObtenerProductoResponse" />
  <xs:element name="buscarProductos" type="tns:buscarProductos" />
  <xs:element name="buscarProductosResponse" type="tns:buscarProductosResponse" />
  <xs:element name="cantidadPagProd" type="tns:cantidadPagProd" />
  <xs:element name="cantidadPagProdResponse" type="tns:cantidadPagProdResponse" />
  <xs:element name="insertarConDatos" type="tns:insertarConDatos" />
  <xs:element name="insertarConDatosResponse" type="tns:insertarConDatosResponse" />
  <xs:element name="insertarProducto" type="tns:insertarProducto" />
  <xs:element name="insertarProductoResponse" type="tns:insertarProductoResponse" />
  <xs:element name="obtenerCorporales" type="tns:obtenerCorporales" />
  <xs:element name="obtenerCorporalesResponse" type="tns:obtenerCorporalesResponse" />
  <xs:element name="obtenerFaciales" type="tns:obtenerFaciales" />
  <xs:element name="obtenerFacialesResponse" type="tns:obtenerFacialesResponse" />
  <xs:element name="obtenerProdPag" type="tns:obtenerProdPag" />
  <xs:element name="obtenerProdPagResponse" type="tns:obtenerProdPagResponse" />
  <xs:complexType name="insertarProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="producto" type="tns:productoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="comentarios" nillable="true" type="tns:comentarioDTO" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="idProducto" type="xs:int" />
      <xs:element minOccurs="0" name="modoUso" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="precio" type="xs:double" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="productosTipos" nillable="true" type="tns:productoTipoDTO" />
      <xs:element minOccurs="0" name="promedioValoracion" type="xs:double" />
      <xs:element minOccurs="0" name="tamanho" type="xs:double" />
      <xs:element minOccurs="0" name="urlImagen" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comentarioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="cliente" type="tns:clienteDTO" />
      <xs:element minOccurs="0" name="comentario" type="xs:string" />
      <xs:element minOccurs="0" name="idComentario" type="xs:int" />
      <xs:element minOccurs="0" name="producto" type="tns:productoDTO" />
      <xs:element minOccurs="0" name="servicio" type="tns:servicioDTO" />
      <xs:element minOccurs="0" name="valoracion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="clienteDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuarioDTO">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="usuarioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="celular" type="xs:string" />
      <xs:element minOccurs="0" name="contrasenha" type="xs:string" />
      <xs:element minOccurs="0" name="correoElectronico" type="xs:string" />
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="primerapellido" type="xs:string" />
      <xs:element minOccurs="0" name="rol" type="xs:int" />
      <xs:element minOccurs="0" name="segundoapellido" type="xs:string" />
      <xs:element minOccurs="0" name="urlFotoPerfil" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="servicioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="citas" nillable="true" type="tns:citaDTO" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="comentarios" nillable="true" type="tns:comentarioDTO" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="duracionHora" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="empleados" nillable="true" type="tns:empleadoDTO" />
      <xs:element minOccurs="0" name="idServicio" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="precio" type="xs:double" />
      <xs:element minOccurs="0" name="promedioValoracion" type="xs:double" />
      <xs:element minOccurs="0" name="tipo" type="xs:string" />
      <xs:element minOccurs="0" name="urlImagen" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="citaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="cliente" type="tns:clienteDTO" />
      <xs:element minOccurs="0" name="codigoTransaccion" type="xs:string" />
      <xs:element minOccurs="0" name="empleado" type="tns:empleadoDTO" />
      <xs:element minOccurs="0" name="fecha" type="tns:date" />
      <xs:element minOccurs="0" name="horaFin" type="tns:time" />
      <xs:element minOccurs="0" name="horaIni" type="tns:time" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="igv" type="xs:double" />
      <xs:element minOccurs="0" name="servicio" type="tns:servicioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="empleadoDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuarioDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="admin" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="servicios" nillable="true" type="tns:servicioDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="date">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="time">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="productoTipoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="ingredientes" type="xs:string" />
      <xs:element minOccurs="0" name="producto" type="tns:productoDTO" />
      <xs:element minOccurs="0" name="stock_despacho" type="xs:int" />
      <xs:element minOccurs="0" name="stock_fisico" type="xs:int" />
      <xs:element minOccurs="0" name="tipo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarProductoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerCorporales">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="obtenerCorporalesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:productoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EliminarProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="producto" type="tns:productoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EliminarProductoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cantidadPagProd">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="cantidadPagProdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerProductoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:productoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ModificarProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="producto" type="tns:productoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ModificarProductoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarProductos">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarProductosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:productoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerFaciales">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="obtenerFacialesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:productoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerProdPag">
    <xs:sequence>
      <xs:element minOccurs="0" name="pagina" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerProdPagResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:productoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarConDatos">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="precio" type="xs:double" />
      <xs:element minOccurs="0" name="tamanho" type="xs:double" />
      <xs:element minOccurs="0" name="urlImagen" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tipos" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ingreientes" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="stocks" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarConDatosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>