Frontend-C#/MGBeautySpaWebAplication/SoftInvBusiness/Connected Services/SoftInvWSProductos/Productos1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://softinvws.services.softinv.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Productos" targetNamespace="http://softinvws.services.softinv.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://192.168.1.37:8080/SoftInvWS/Productos?xsd=1" namespace="http://softinvws.services.softinv.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="insertarProducto">
    <part name="parameters" element="tns:insertarProducto" />
  </message>
  <message name="insertarProductoResponse">
    <part name="parameters" element="tns:insertarProductoResponse" />
  </message>
  <message name="insertarConDatos">
    <part name="parameters" element="tns:insertarConDatos" />
  </message>
  <message name="insertarConDatosResponse">
    <part name="parameters" element="tns:insertarConDatosResponse" />
  </message>
  <message name="ModificarProducto">
    <part name="parameters" element="tns:ModificarProducto" />
  </message>
  <message name="ModificarProductoResponse">
    <part name="parameters" element="tns:ModificarProductoResponse" />
  </message>
  <message name="EliminarProducto">
    <part name="parameters" element="tns:EliminarProducto" />
  </message>
  <message name="EliminarProductoResponse">
    <part name="parameters" element="tns:EliminarProductoResponse" />
  </message>
  <message name="cantidadPagProd">
    <part name="parameters" element="tns:cantidadPagProd" />
  </message>
  <message name="cantidadPagProdResponse">
    <part name="parameters" element="tns:cantidadPagProdResponse" />
  </message>
  <message name="ObtenerProducto">
    <part name="parameters" element="tns:ObtenerProducto" />
  </message>
  <message name="ObtenerProductoResponse">
    <part name="parameters" element="tns:ObtenerProductoResponse" />
  </message>
  <message name="obtenerProdPag">
    <part name="parameters" element="tns:obtenerProdPag" />
  </message>
  <message name="obtenerProdPagResponse">
    <part name="parameters" element="tns:obtenerProdPagResponse" />
  </message>
  <message name="buscarProductos">
    <part name="parameters" element="tns:buscarProductos" />
  </message>
  <message name="buscarProductosResponse">
    <part name="parameters" element="tns:buscarProductosResponse" />
  </message>
  <message name="obtenerFaciales">
    <part name="parameters" element="tns:obtenerFaciales" />
  </message>
  <message name="obtenerFacialesResponse">
    <part name="parameters" element="tns:obtenerFacialesResponse" />
  </message>
  <message name="obtenerCorporales">
    <part name="parameters" element="tns:obtenerCorporales" />
  </message>
  <message name="obtenerCorporalesResponse">
    <part name="parameters" element="tns:obtenerCorporalesResponse" />
  </message>
  <portType name="Productos">
    <operation name="insertarProducto">
      <input wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Productos/insertarProductoRequest" message="tns:insertarProducto" />
      <output wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Productos/insertarProductoResponse" message="tns:insertarProductoResponse" />
    </operation>
    <operation name="insertarConDatos">
      <input wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Productos/insertarConDatosRequest" message="tns:insertarConDatos" />
      <output wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Productos/insertarConDatosResponse" message="tns:insertarConDatosResponse" />
    </operation>
    <operation name="ModificarProducto">
      <input wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Productos/ModificarProductoRequest" message="tns:ModificarProducto" />
      <output wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Productos/ModificarProductoResponse" message="tns:ModificarProductoResponse" />
    </operation>
    <operation name="EliminarProducto">
      <input wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Productos/EliminarProductoRequest" message="tns:EliminarProducto" />
      <output wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Productos/EliminarProductoResponse" message="tns:EliminarProductoResponse" />
    </operation>
    <operation name="cantidadPagProd">
      <input wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Productos/cantidadPagProdRequest" message="tns:cantidadPagProd" />
      <output wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Productos/cantidadPagProdResponse" message="tns:cantidadPagProdResponse" />
    </operation>
    <operation name="ObtenerProducto">
      <input wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Productos/ObtenerProductoRequest" message="tns:ObtenerProducto" />
      <output wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Productos/ObtenerProductoResponse" message="tns:ObtenerProductoResponse" />
    </operation>
    <operation name="obtenerProdPag">
      <input wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Productos/obtenerProdPagRequest" message="tns:obtenerProdPag" />
      <output wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Productos/obtenerProdPagResponse" message="tns:obtenerProdPagResponse" />
    </operation>
    <operation name="buscarProductos">
      <input wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Productos/buscarProductosRequest" message="tns:buscarProductos" />
      <output wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Productos/buscarProductosResponse" message="tns:buscarProductosResponse" />
    </operation>
    <operation name="obtenerFaciales">
      <input wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Productos/obtenerFacialesRequest" message="tns:obtenerFaciales" />
      <output wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Productos/obtenerFacialesResponse" message="tns:obtenerFacialesResponse" />
    </operation>
    <operation name="obtenerCorporales">
      <input wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Productos/obtenerCorporalesRequest" message="tns:obtenerCorporales" />
      <output wsam:Action="http://softinvws.services.softinv.pucp.edu.pe/Productos/obtenerCorporalesResponse" message="tns:obtenerCorporalesResponse" />
    </operation>
  </portType>
  <binding name="ProductosPortBinding" type="tns:Productos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertarProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarConDatos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ModificarProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="EliminarProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="cantidadPagProd">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ObtenerProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerProdPag">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buscarProductos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerFaciales">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerCorporales">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Productos">
    <port name="ProductosPort" binding="tns:ProductosPortBinding">
      <soap:address location="http://192.168.1.37:8080/SoftInvWS/Productos" />
    </port>
  </service>
</definitions>